Name: [ENTER YOUR FULLNAME]

Student number: [ENTER YOUR STUDENT NUMBER]

# Question 1 (10 marks)

Given the supplier defined as *supplier_102* in the cell below, write python code to perform the following:

1. Print all the keys from the dictionary

2. Print all the values from the dictionary

3. Check if item 'mobile' exists and print an appropriate message (whether it exists or not)

4. Delete all items from the dictionary and print

Notes:
- Everytime you perform an operation, *print* the variable(s) to get some evidence that it worked'
- And print a blank line (e.g. *print()*) to get a blank line beween the values printed.
- Hardcoding the answer (i.e. manually computing the answers) will result in no mark for this question. If you are not sure what hard-coding is, please consult with your tutor.

Hints: 
- *Week 2 Lecture notes* and *Lab Task 2.1 - Data Type: Collections*

In [1]:
supplier_102 =  {
    "city": "Lake Peterfurt",
    "contact_firstname": "Lucas",
    "contact_lastname": "Reyes",
    "contact_title": "Mr",
    "country": "Australia",
    "email": "lucas7404.reyes@gmail.com",
    "notes": "",
    "phone": "(02) 2310 6339",
    "postcode": "2634",
    "state": "Reyes",
    "street_address": "09 /\n 0 Tara Laneway",
    "supplier_id": 102,
    "supplier_name": "Mata, Townsend and Black"
}

# Write your code below this line

# 1. Print all the keys from the dictionary
all_keys = supplier_102.keys()
print('Following are all the keys: ',list(all_keys))
print('\n')

# 2. Print all the values from the dictionary
all_values = supplier_102.values()
print('Following are all the values: ',list(all_values))
print('\n')

# 3. Check if item 'mobile' exists and print an appropriate message (whether it exists or not)
if 'mobile' in all_keys:
    print('Mobile exist in the items')
else:
    print('Mobile doesnot exist in the items')
print('\n')

# 4. Delete all items from the dictionary and print
supplier_102.clear()
print(supplier_102)

Following are all the keys:  ['city', 'contact_firstname', 'contact_lastname', 'contact_title', 'country', 'email', 'notes', 'phone', 'postcode', 'state', 'street_address', 'supplier_id', 'supplier_name']


Following are all the values:  ['Lake Peterfurt', 'Lucas', 'Reyes', 'Mr', 'Australia', 'lucas7404.reyes@gmail.com', '', '(02) 2310 6339', '2634', 'Reyes', '09 /\n 0 Tara Laneway', 102, 'Mata, Townsend and Black']


Mobile doesnot exist in the items


{}

# Question 2 (10 marks)

Given a list of products, defined as *products* in the cell below, write python code to perform the following:

1. Find the length of list

2. Change "supplier_name" of supplier with "supplier_id"=102 from "Mata, Townsend and Black" to "Mata, Townsend and Black & Co." 

3. Add a new supplier to the list with the following details:
   - city: Bankstown
   - contact_firstname: Robert
   - contact_lastname: Johnson
   - contact_title: Mr
   - country: Australia
   - email: robert8343.johnson@gmail.com
   - notes: ""
   - phone: 0477 023 763
   - postcode: 2627
   - state: Johnson
   - street_address: 33 Cain Tarn
   - supplier_id: 104
   - supplier_name: Drake-Henry
   
4. Remove supplier with "supplier_id" = 103 from the list

Notes:
- Hardcoding the answer (i.e. manually computing the answers) will result in no mark for this question. If you are not sure what hard-coding is, please consult with your tutor.
- Hardcoding will no longer be mentioned as it is implied for all the work that you do in this course!

Hints: 
- *Week 2 Lecture notes* (lists, dictionaries), *Week 3 Lecture notes* (loops and conditional statements) and *Lab Task 3.1 - Programming Constructs* (loops and conditional statements).

In [2]:
suppliers = [
    {
        "city": "St. Kellyton",
        "contact_firstname": "Michelle",
        "contact_lastname": "Mitchell",
        "contact_title": "Mrs",
        "country": "Australia",
        "email": "michelle3113.mitchell@gmail.com",
        "notes": "",
        "phone": "(03) 9269 4800",
        "postcode": "2693",
        "state": "Mitchell",
        "street_address": "2 Alexander Grove",
        "supplier_id": 101,
        "supplier_name": "Ferguson Inc"
    },
    {
        "city": "Lake Peterfurt",
        "contact_firstname": "Lucas",
        "contact_lastname": "Reyes",
        "contact_title": "Mr",
        "country": "Australia",
        "email": "lucas7404.reyes@gmail.com",
        "notes": "",
        "phone": "(02) 2310 6339",
        "postcode": "2634",
        "state": "Reyes",
        "street_address": "09 /\n 0 Tara Laneway",
        "supplier_id": 102,
        "supplier_name": "Mata, Townsend and Black"
    },
    {
        "city": "Parkerborough",
        "contact_firstname": "Marcia",
        "contact_lastname": "Stanley",
        "contact_title": "Mrs",
        "country": "Australia",
        "email": "marcia2459.stanley@gmail.com",
        "notes": "",
        "phone": "(07) 2644 5735",
        "postcode": "2619",
        "state": "Stanley",
        "street_address": "Suite 071\n 3 Cody Upper",
        "supplier_id": 103,
        "supplier_name": "White, Vargas and Ballard"
    }
]
    
# Write your code below this line

# 1. Find the length of list
#   (and print something to provide evidence that it worked)
list_length = len(suppliers)
print('Length of the list is ',list_length)
print('\n')

# 2. Change "supplier_name" of supplier with "supplier_id"=102 from "Mata, Townsend and Black" to "Mata, Townsend and Black & Co." 
#   (and print something to provide evidence that it worked)
suppliers[1]['supplier_name'] = 'Mata, Townsend and Black & Co.'
print('New Supplier Name is a follows: ')
print('\n')
print(suppliers)
print('\n')
# 3. Add a new supplier to the list
#   (and print something to provide evidence that it worked)
new_supplier = {'city': 'Bankstown','contact_firstname': 'Robert','contact_lastname': 'Johnson','contact_title': 'Mr',
                'country': 'Australia','email': 'robert8343.johnson@gmail.com','notes': "",'phone': '0477 023 763',
                'postcode': 2627,'state': 'Johnson','street_address': '33 Cain Tarn','supplier_id': 104,
                'supplier_name': 'Drake-Henry'}
suppliers.append(new_supplier)
print('All Suppliers list after adding new supplier and has length of ',len(suppliers))
print('\n')
print(suppliers)
print('\n')
# 4. Remove supplier  with "supplier_id" =103
#   (and print something to provide evidence that it worked)

suppliers.pop(2)
suppliers

Length of the list is  3


New Supplier Name is a follows:


[{'city': 'St. Kellyton', 'contact_firstname': 'Michelle', 'contact_lastname': 'Mitchell', 'contact_title': 'Mrs', 'country': 'Australia', 'email': 'michelle3113.mitchell@gmail.com', 'notes': '', 'phone': '(03) 9269 4800', 'postcode': '2693', 'state': 'Mitchell', 'street_address': '2 Alexander Grove', 'supplier_id': 101, 'supplier_name': 'Ferguson Inc'}, {'city': 'Lake Peterfurt', 'contact_firstname': 'Lucas', 'contact_lastname': 'Reyes', 'contact_title': 'Mr', 'country': 'Australia', 'email': 'lucas7404.reyes@gmail.com', 'notes': '', 'phone': '(02) 2310 6339', 'postcode': '2634', 'state': 'Reyes', 'street_address': '09 /\n 0 Tara Laneway', 'supplier_id': 102, 'supplier_name': 'Mata, Townsend and Black & Co.'}, {'city': 'Parkerborough', 'contact_firstname': 'Marcia', 'contact_lastname': 'Stanley', 'contact_title': 'Mrs', 'country': 'Australia', 'email': 'marcia2459.stanley@gmail.com', 'notes': '', 'phone': '(07) 2644 5735', 'postcode': '2619', 'state': 'Stanley', 'street_address': 'Suite 071\n 3 Cody Upper', 'supplier_id': 103, 'supplier_name': 'White, Vargas and Ballard'}]


All Suppliers list after adding new supplier and has length of  4


[{'city': 'St. Kellyton', 'contact_firstname': 'Michelle', 'contact_lastname': 'Mitchell', 'contact_title': 'Mrs', 'country': 'Australia', 'email': 'michelle3113.mitchell@gmail.com', 'notes': '', 'phone': '(03) 9269 4800', 'postcode': '2693', 'state': 'Mitchell', 'street_address': '2 Alexander Grove', 'supplier_id': 101, 'supplier_name': 'Ferguson Inc'}, {'city': 'Lake Peterfurt', 'contact_firstname': 'Lucas', 'contact_lastname': 'Reyes', 'contact_title': 'Mr', 'country': 'Australia', 'email': 'lucas7404.reyes@gmail.com', 'notes': '', 'phone': '(02) 2310 6339', 'postcode': '2634', 'state': 'Reyes', 'street_address': '09 /\n 0 Tara Laneway', 'supplier_id': 102, 'supplier_name': 'Mata, Townsend and Black & Co.'}, {'city': 'Parkerborough', 'contact_firstname': 'Marcia', 'contact_lastname': 'Stanley', 'contact_title': 'Mrs', 'country': 'Australia', 'email': 'marcia2459.stanley@gmail.com', 'notes': '', 'phone': '(07) 2644 5735', 'postcode': '2619', 'state': 'Stanley', 'street_address': 'Suite 071\n 3 Cody Upper', 'supplier_id': 103, 'supplier_name': 'White, Vargas and Ballard'}, {'city': 'Bankstown', 'contact_firstname': 'Robert', 'contact_lastname': 'Johnson', 'contact_title': 'Mr', 'country': 'Australia', 'email': 'robert8343.johnson@gmail.com', 'notes': '', 'phone': '0477 023 763', 'postcode': 2627, 'state': 'Johnson', 'street_address': '33 Cain Tarn', 'supplier_id': 104, 'supplier_name': 'Drake-Henry'}]

[{'city': 'St. Kellyton',
  'contact_firstname': 'Michelle',
  'contact_lastname': 'Mitchell',
  'contact_title': 'Mrs',
  'country': 'Australia',
  'email': 'michelle3113.mitchell@gmail.com',
  'notes': '',
  'phone': '(03) 9269 4800',
  'postcode': '2693',
  'state': 'Mitchell',
  'street_address': '2 Alexander Grove',
  'supplier_id': 101,
  'supplier_name': 'Ferguson Inc'},
 {'city': 'Lake Peterfurt',
  'contact_firstname': 'Lucas',
  'contact_lastname': 'Reyes',
  'contact_title': 'Mr',
  'country': 'Australia',
  'email': 'lucas7404.reyes@gmail.com',
  'notes': '',
  'phone': '(02) 2310 6339',
  'postcode': '2634',
  'state': 'Reyes',
  'street_address': '09 /\n 0 Tara Laneway',
  'supplier_id': 102,
  'supplier_name': 'Mata, Townsend and Black & Co.'},
 {'city': 'Bankstown',
  'contact_firstname': 'Robert',
  'contact_lastname': 'Johnson',
  'contact_title': 'Mr',
  'country': 'Australia',
  'email': 'robert8343.johnson@gmail.com',
  'notes': '',
  'phone': '0477 023 763',
  'postcode': 2627,
  'state': 'Johnson',
  'street_address': '33 Cain Tarn',
  'supplier_id': 104,
  'supplier_name': 'Drake-Henry'}]

# Question 3 (10 marks)

Given a list of numbers, defined as *lst_num* in the cell below, write python code to perform the following:

1. Find the highest number in the list.

2. Write the code as a function and call the function with the list of numbers as parameter. 

3. Print the result so that we can see the outcome.

Skeleton code has been provided in the cell below to facilitate your task.

Hints: 
- *Week 3 Lecture notes* (loops and conditional statements) and *Lab Task 3.2 - User Defined Functions* (loops and conditional statements).

In [3]:
# List of numbers
lst_num = [1, 25, 2, 30, 8]


# 1. Define the function
def max_items(items):    
    max = 0
    
    # Write your code below this line
    for i in items:
        if i > max:
            max = i
    
    return max


# 2. Call the function
# Write your code below this line

max_items(lst_num)

30

# Question 4 (10 marks)

Given the list of *suppliers* defined in the cell below, write python code to:

1. Process the list of dictionaries to create a list of *supplier_name*.

2. Join the *supplier_name* with a semi-colon followed by space to form a single string e.g. *Ferguson Inc; Mata, Townsend and Black; White, Vargas and Ballard* and print the string.

Hints:
- *Week 2 Lecture notes* (lists, dictionaries), *Week 3 Lecture notes* (loops and conditional statements), *Lab Task 3.1 - Programming Constructs* (loops and conditional statements) and *Lab Task 3.4 - Advanced Techniques for Collections* (joining items in a list as a single string)

In [4]:
suppliers = [
    {
        "city": "St. Kellyton",
        "contact_firstname": "Michelle",
        "contact_lastname": "Mitchell",
        "contact_title": "Mrs",
        "country": "Australia",
        "email": "michelle3113.mitchell@gmail.com",
        "notes": "",
        "phone": "(03) 9269 4800",
        "postcode": "2693",
        "state": "Mitchell",
        "street_address": "2 Alexander Grove",
        "supplier_id": 101,
        "supplier_name": "Ferguson Inc"
    },
    {
        "city": "Lake Peterfurt",
        "contact_firstname": "Lucas",
        "contact_lastname": "Reyes",
        "contact_title": "Mr",
        "country": "Australia",
        "email": "lucas7404.reyes@gmail.com",
        "notes": "",
        "phone": "(02) 2310 6339",
        "postcode": "2634",
        "state": "Reyes",
        "street_address": "09 /\n 0 Tara Laneway",
        "supplier_id": 102,
        "supplier_name": "Mata, Townsend and Black"
    },
    {
        "city": "Parkerborough",
        "contact_firstname": "Marcia",
        "contact_lastname": "Stanley",
        "contact_title": "Mrs",
        "country": "Australia",
        "email": "marcia2459.stanley@gmail.com",
        "notes": "",
        "phone": "(07) 2644 5735",
        "postcode": "2619",
        "state": "Stanley",
        "street_address": "Suite 071\n 3 Cody Upper",
        "supplier_id": 103,
        "supplier_name": "White, Vargas and Ballard"
    }
]
    
    
# Write your code below this line

supplier_name = []
for i in range(len(suppliers)):
    supplier_name.append(suppliers[i]['supplier_name'])
    
print('Supplier Name before joining the list')
print('\n')
print(supplier_name)
print('\n')
print('Supplier Name after joining the list')
print('\n')
supplier_name = '; '.join(supplier_name)
print(supplier_name)

Supplier Name before joining the list


['Ferguson Inc', 'Mata, Townsend and Black', 'White, Vargas and Ballard']


Supplier Name after joining the list


Ferguson Inc; Mata, Townsend and Black; White, Vargas and Ballard

# Question 5 (10 marks)

In the cell below, write python code to do:

1. Create a dictionary named *prod_104* with the following key/value pairs:
   - discontinued: 0
   - lead_time_days: 4
   - product_category: Personal Computers
   - product_description: 8 inch Display (1920x1200) ...
   - product_id: 104
   - product_name: NVIDIA SHIELD Tablet (WiFi)
   - reorder_level: 10
   - unit_price: 299.0

2. Print the dictionary

Hints:
- *Week 2 Lecture notes* and *Lab Task 2.1 - Data Type: Collections*

In [5]:
# Write your code below this line
prod_104 = {'discontinued': 0,
'lead_time_days': 4,
'product_category': 'Personal Computers',
'product_description': '8 inch Display (1920x1200) ...',
'product_id': 104,
'product_name': 'NVIDIA SHIELD Tablet (WiFi)',
'reorder_level': 10,
'unit_price': 299.0}

print(prod_104)

{'discontinued': 0, 'lead_time_days': 4, 'product_category': 'Personal Computers', 'product_description': '8 inch Display (1920x1200) ...', 'product_id': 104, 'product_name': 'NVIDIA SHIELD Tablet (WiFi)', 'reorder_level': 10, 'unit_price': 299.0}

# Question 6 (10 marks)

Given the list of *suppliers* defined in the cell below, write python code to:

1. Process the list of dictionaries to create a new list of dictionaries.

2. Only include suppliers that are from Lake Peterfurt or Parkerborough in the new list.

3. Print the length of the new list

4. Print the contents of the new list

Notes:
- This problem must be solved in ONE LINE using *filter()* with a SINGLE *lambda* funtion

Hints:
- *Lab Task 3.4 - Advanced Techniques for Collections*
- You can solve this problem using the "or" operator
  - i.e. x['city'] == "Parkerborough" or x['city'] == "Lake Peterfurt"
- Or you can use the "in" operator
  - or x['city'] in ["Parkerborough", "Lake Peterfurt"]

In [6]:
suppliers = [
    {
        "city": "St. Kellyton",
        "contact_firstname": "Michelle",
        "contact_lastname": "Mitchell",
        "contact_title": "Mrs",
        "country": "Australia",
        "email": "michelle3113.mitchell@gmail.com",
        "notes": "",
        "phone": "(03) 9269 4800",
        "postcode": "2693",
        "state": "Mitchell",
        "street_address": "2 Alexander Grove",
        "supplier_id": 101,
        "supplier_name": "Ferguson Inc"
    },
    {
        "city": "Lake Peterfurt",
        "contact_firstname": "Lucas",
        "contact_lastname": "Reyes",
        "contact_title": "Mr",
        "country": "Australia",
        "email": "lucas7404.reyes@gmail.com",
        "notes": "xyz",
        "phone": "(02) 2310 6339",
        "postcode": "2634",
        "state": "Reyes",
        "street_address": "09 /\n 0 Tara Laneway",
        "supplier_id": 102,
        "supplier_name": "Mata, Townsend and Black"
    },
    {
        "city": "Parkerborough",
        "contact_firstname": "Marcia",
        "contact_lastname": "Stanley",
        "contact_title": "Mrs",
        "country": "Australia",
        "email": "marcia2459.stanley@gmail.com",
        "notes": "",
        "phone": "(07) 2644 5735",
        "postcode": "2619",
        "state": "Stanley",
        "street_address": "Suite 071\n 3 Cody Upper",
        "supplier_id": 103,
        "supplier_name": "White, Vargas and Ballard"
    }
]

# Insert all dicts with city="Parkerborough" or city="Lake Peterfurt" to the new list
# Write your code below this line

new_list = []
for i in range(len(suppliers)):
    if suppliers[i]['city'] == 'Lake Peterfurt' or suppliers[i]['city'] == 'Parkerborough':
        new_list.append(suppliers[i])

print('Length of the New List is ',len(new_list))

print('\n')

print('The new list is ')
new_list

Length of the New List is  2


The new list is

[{'city': 'Lake Peterfurt',
  'contact_firstname': 'Lucas',
  'contact_lastname': 'Reyes',
  'contact_title': 'Mr',
  'country': 'Australia',
  'email': 'lucas7404.reyes@gmail.com',
  'notes': 'xyz',
  'phone': '(02) 2310 6339',
  'postcode': '2634',
  'state': 'Reyes',
  'street_address': '09 /\n 0 Tara Laneway',
  'supplier_id': 102,
  'supplier_name': 'Mata, Townsend and Black'},
 {'city': 'Parkerborough',
  'contact_firstname': 'Marcia',
  'contact_lastname': 'Stanley',
  'contact_title': 'Mrs',
  'country': 'Australia',
  'email': 'marcia2459.stanley@gmail.com',
  'notes': '',
  'phone': '(07) 2644 5735',
  'postcode': '2619',
  'state': 'Stanley',
  'street_address': 'Suite 071\n 3 Cody Upper',
  'supplier_id': 103,
  'supplier_name': 'White, Vargas and Ballard'}]

# Question 7 (10 marks)

Given the list of *suppliers* defined in the cell below, write python code to:

1. Process the list of dictionaries to create a list of supplier names formatted as *supplier_id - supplier_name* 
   - e.g. *101 - Ferguson Inc*, etc


2. Print the newly created list

Notes: 
- This problem must be solved in ONE LINE using *map()* with a SINGLE *lambda* function
- The output can be obtained using string concatenation
- Since supplier_id is a number, it must be cast to a string in order to be able to concatenate it with other strings

Hints:
- *Lab Task 3.4 - Advanced Techniques for Collections*

In [7]:
suppliers = [
    {
        "city": "St. Kellyton",
        "contact_firstname": "Michelle",
        "contact_lastname": "Mitchell",
        "contact_title": "Mrs",
        "country": "Australia",
        "email": "michelle3113.mitchell@gmail.com",
        "notes": "",
        "phone": "(03) 9269 4800",
        "postcode": "2693",
        "state": "Mitchell",
        "street_address": "2 Alexander Grove",
        "supplier_id": 101,
        "supplier_name": "Ferguson Inc"
    },
    {
        "city": "Lake Peterfurt",
        "contact_firstname": "Lucas",
        "contact_lastname": "Reyes",
        "contact_title": "Mr",
        "country": "Australia",
        "email": "lucas7404.reyes@gmail.com",
        "notes": "xyz",
        "phone": "(02) 2310 6339",
        "postcode": "2634",
        "state": "Reyes",
        "street_address": "09 /\n 0 Tara Laneway",
        "supplier_id": 102,
        "supplier_name": "Mata, Townsend and Black"
    },
    {
        "city": "Parkerborough",
        "contact_firstname": "Marcia",
        "contact_lastname": "Stanley",
        "contact_title": "Mrs",
        "country": "Australia",
        "email": "marcia2459.stanley@gmail.com",
        "notes": "",
        "phone": "(07) 2644 5735",
        "postcode": "2619",
        "state": "Stanley",
        "street_address": "Suite 071\n 3 Cody Upper",
        "supplier_id": 103,
        "supplier_name": "White, Vargas and Ballard"
    }
]

# Write your code below this line
supplier_names = map(lambda x : str(x['supplier_id'])+'-'+x['supplier_name'],suppliers)

print(list(supplier_names))

['101-Ferguson Inc', '102-Mata, Townsend and Black', '103-White, Vargas and Ballard']

# Question 8 (10 marks)

Write Python code in the cell below to do the following:
- Convert the date string "21/02/2020" to a python date object and print the date object.
- Create a date object using the values (2020, 3, 20) and print the date object formatted as "dd/mm/yyyy" i.e. 20/03/2020

Hint: 
- *Lab Task 2.3 - Data Type: Date and Datetime*

In [8]:
# 1. Import python packages
# Write your code below this line
from datetime import datetime


# 2. Convert a date string in the format "dd/mm/yyyy" to a date object and print it
# Write your code below this line
date = '21/02/2020'
converted_date = datetime.strptime(date,'%d/%m/%Y').date()
print('Type of the object')
print(type(converted_date))
print('\n')
print(converted_date)


# 3. Given a date object, format it as "dd/mm/yyyy"
# Write your code below this line
print('\n')
dt_obj = datetime(2020, 3, 20)
date_str = dt_obj.strftime("%d/%m/%Y")
print (date_str)

Type of the object
<class 'datetime.date'>


2020-02-21


20/03/2020

# Question 9 (10 marks)

We have some Australian land line phone numbers in the format: "*(area code) 9999 9999*" e.g. "*(03) 9269 4800*"

Write a program to print the area code of an Australian land line phone number. 

Example:
If the phone number is: *(03) 9269 4800*, then *03* should be printed:

Hint: 
- *Lab Task 3.5 - Regular Expressions*

In [9]:
# Regex explanation

# ^        # Match the start of the line
# .*?      # Non-greedy match anything
# \(       # Up to the first opening bracket - opening bracket must be escaped with \
# [^\d]*   # Match anything that is not a digit (* means zero or more)
# (\d+)    # Match a digit string (+ means one or more)
# [^\d]*   # Match anything that is not a digit (* means zero or more)
# \)       # Match a closing bracket - closing bracket must be escaped with \
# .*       # Match the rest of the line
# $        # Match the end of the line


# Write your code below this line
import re

phone = '(03) 9269 4800'

matches = re.findall('\((.*?)\)',phone)

print(matches)
print('\n')
print(matches[0])

['03']


03

# Question 10 (10 marks)

In the cell below, write a class to represent a *Supplier* as per following specifications:

- Class name: *Supplier* (note uppercase "S")

- Define instance attributes as specified by the items in dictionary object *supplier2* i.e. *city*, *contact_firstname*, etc.

- Define an *\__init\__()* (note: 2 underscores before and after init!) method which initialises the instance attributes to the value of the parameters passed to the method

- Define a *set_supplier_name()* method which sets the supplier_name in the instance variable to the value of the parameter passed

- Define a *get_supplier_details()* method which returns the supplier details formatted as "*supplier_id - supplier_name*"

After having defined the class, you need to test the class and its methods to show that it works. You can do this as follows:

- Instantiate an object of the class (name it *supp*) and pass *supplier2* to the initialiser (pass the whole *supplier2* object, not individual attributes)

- Set the *supplier_name* to something different (e.g. Ferguson & Sons Ltd) by calling *set_supplier_name()* and passing it an appropriate parameter

- Call *get_supplier_details()* to get the supplier id and name (and print it)

Hint: 
- *Lab Task 4.1 - Implement a class* and *Week 4 Lecture notes*

In [10]:
supplier2 = {
        "city": "St. Kellyton",
        "contact_firstname": "Michelle",
        "contact_lastname": "Mitchell",
        "contact_title": "Mrs",
        "country": "Australia",
        "email": "michelle3113.mitchell@gmail.com",
        "notes": "",
        "phone": "(03) 9269 4800",
        "postcode": "2693",
        "state": "Mitchell",
        "street_address": "2 Alexander Grove",
        "supplier_id": 101,
        "supplier_name": "Ferguson Inc"
}

# 1. Define the class here
# Write your code below this line

class Supplier():
    def __init__(self,supplier):
        self.city = supplier['city']
        self.contact_firstname = supplier['contact_firstname']
        self.contact_lastname = supplier['contact_lastname']
        self.contact_title = supplier['contact_title']
        self.country = supplier['country']
        self.email = supplier['email']
        self.notes = supplier['notes']
        self.phone = supplier['phone']
        self.postcode = supplier['postcode']
        self.state = supplier['state']
        self.street_address = supplier['street_address']
        self.supplier_id = supplier['supplier_id']
        self.supplier_name = supplier['supplier_name']

    def set_supplier_name(self,new_supplier_name):
        self.supplier_name = new_supplier_name
        
    def get_supplier_details(self):
        concated_name = str(self.supplier_id) + ' - '+ self.supplier_name
        return concated_name


# 2 Instantiate the class and call its methods here
# Write your code below this line


supp = Supplier(supplier2)

supp.set_supplier_name('Ferguson & Sons Ltd')

print(supp.get_supplier_details())

101 - Ferguson & Sons Ltd

###### © France and Christopher Cheong 2019